@font-face {
  font-family: "iconfont";
  /* Project id 4993246 */
  src: url('iconfont.woff2?t=1754474020803') format('woff2'),
    url('iconfont.woff?t=1754474020803') format('woff'),
    url('iconfont.ttf?t=1754474020803') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 10px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-dianhua:before {
  content: "\e842";
}

.icon-shoucang:before {
  content: "\e60a";
}